.emailList {
  flex: 1;
  overflow: scroll;
}

.emailList::-webkit-scrollbar {
  display: none;
}

.emailList__settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  position: sticky;
  z-index: 1000;
  padding-right: 10px;
}

.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 1000;
}

.emailList__list {
  padding-bottom: 20px;
}
