.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  cursor: pointer;
  padding: 15px;
  border-bottom-width: 2px;
  width: 100%;
  color: gray;
  border-width: 0 !important;
}

.section--selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.section:hover {
  border-width: 3px !important;
  background-color: whitesmoke;
}

.section > h4 {
  margin-right: 15px;
  font-size: 14px;
}
